<div class="list">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>user</th>
                <th>name</th>
                <th>mail</th>
                <th>role</th>
            </tr>
        </thead>

        <tbody>
            <%users.map( elem => {%>
                <tr>
                    <td><a href="/user/<%= elem.Id %>"><%= elem.Id %></a></td>
                    <td><%= elem.user %></td>
                    <td><%= elem.name %></td>
                    <td><%= elem.mail ? elem.mail : 'N/A' %></td>
                    <td><%= elem.rol %></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</div>