<%- include('./partials/dashboard/header'); %>

    <div class="dashboard">
        <%- include('./partials/users/metrics'); %>
        
        <%- include('./partials/users/search'); %>

        <div class="users">
            <%- include('./partials/users/usersTable'); %>
        </div>


        <%- include('./partials/users/numeration'); %>

    </div>
    
<%- include('./partials/dashboard/footer'); %>