<%- include('./partials/dashboard/header'); %>

    <div class="dashboard">
        <%- include('./partials/users/metrics'); %>
        
        <%- include('./partials/users/search'); %>

        <div class="users">
            <%- include('./partials/users/usersTable'); %>
            
            <%- include('./partials/common/numeration'); %>
        </div>



    </div>
    
<%- include('./partials/dashboard/footer'); %>