<div class="metrics">
    <div class="metric success">
        <div class="text">
            <div class="number">
                <% if (profits < 1 ){%>
                    Not records found.
                <% } else {%>
                    <%= currencyPrefix %><%= profits %>
                <% } %>
            </div>
            <span>Profits</span>
        </div>
        <i class="fas fa-money-bill-wave"></i>
    </div>
    <div class="metric danger">
        <div class="text">
            <div class="number">
                <% if (profits < 1 ){%>
                    Not records found.
                    <% } else {%>
                        <%= currencyPrefix %><%= avgSum %>
                <% } %>
            </div>
            <span>AVG Profit</span>
        </div>
        <i class="fas fa-percentage"></i>
</div>
    <div class="metric primary">
        <div class="text">
            <div class="number">
                <% if (profits < 1 ){%>
                    Not records found.
                <% } else {%>
                    <%= totalSales %>
                <% } %>
            </div>
                <span>Total Sales</span>
        </div>
        <i class="fas fa-check"></i>
    </div>
    <div class="metric warning">
        <div class="text">
            <div class="number"><%= auxdate %></div>
            <span>Date</span>
        </div>
        <i class="fas fa-calendar-week"></i>
    </div>
</div>