<div class="title">
    All sales
</div>

<div class="list">
    <table>
        <thead>
            <tr>
                <th>Costumer</th>
                <th>Sale Id</th>
                <th>Ticket</th>
                <th>Date</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            <% allSales.forEach(sale => {  %>
                <tr>
                    <td>
                        <a href="/costumer/<%= sale.costumer %>">
                            <%= sale.costumer %>
                        </a>
                    </td>
                    <td><%= sale.saleProfit %></td>
                    <td><%= sale.costumer %></td>
                    <td><%= sale.dateSale %></td>    
                    <td>
                        <a href="/sale/<%= sale.idSale %>" class="detail">
                            Detail
                        </a>
                    </td>
                </tr>
            <%})%>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>  
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>  
            </tr>
        </tbody>

    </table>
</div>