<div class="title">
    All sales
</div>

<div class="list">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Costumer Id</th>
                <th>Sale</th>
                <th>ticket</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <% allSales.map(sale => {  %>
                <tr>
                    <td>
                        <a href="/sale/<%= allSales.idSale %>">
                            <%= sale.idSale %>
                        </a>
                    </td>
                    <td>
                        <a href="/costumer/<%= sale.costumer %>">
                            <%= sale.costumer %>
                        </a>
                    </td>
                    <td><%= sale.costumer %></td>
                    <td><%= sale.costumer %></td>
                    <td><%= sale.costumer %></td>    
                </tr>
            <%})%>
        </tbody>

    </table>
</div>