<div class="title">
    All sales
</div>

<div class="list">
    <table>
        <thead>
            <tr>
                <th>Costumer</th>
                <th>Profit</th>
                <th>Ticket</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% allSales.forEach(sale => {  %>
                <tr>
                    <td>
                        <a href="/costumer/<%= sale.costumerId %>">
                            Constumer info
                        </a>
                    </td>
                    <td><%= currencyPrefix %><%= sale.saleProfit %></td>
                    <td>
                        <a href="/ticket/<%= sale.idSale %>" target="_blank">Download ticket</a>
                    </td>
                    <td><%= sale.dateSale %></td>    
                    <td>
                        <a href="/sale/<%= sale.idSale %>" class="detail">
                            See
                        </a>
                    </td>
                </tr>
            <%})%>
        </tbody>

    </table>
</div>