<div class="title">
    <form action="/products" method="POST">
        <div class="price">
            <span>By price</span>
            <select name="price">
                <option value="">Low to high</option>
                <option value="">High to low</option>
            </select>
        </div>
        <div class="date">
            <span>By date</span>
            <select name="price">
                <option value="new">Newest</option>
                <option value="old">Oldest</option>
            </select>
        </div>
        <input type="submit" value="Filter">
    </form>

    <a href="/newProduct" class="newProduct">Add a new product</a>

</div>

<div class="list">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Serial</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                <tr>
                    <td>                                                                                                    </td>
                    <td><%= product.productName %></td>
                    <td><%= product.serialNumber %></td>
                    <td><%= product.productPrice %></td>
                    <td><%= product.productCategory %></td>
                    <td><a href="/product/<%= product.idProduct %>">See product</a></td>
                </tr>
            <% })%>
        </tbody>

    </table>
</div>